* {
	box-sizing: border-box;
	
}

/*Common*/

:root {
	--gray-300: #D4D4D8;
	--gray-700: #3F3F46;
	--base-white: #FFFFFF;
	--red-600: #D62626;
	--blue--500: #3B82F6;
	--blue--800: #1E40AF;
	--green-500: #22C55E;
	--font-weight-bold: 700;
	--font-weight-normal: 400;
}

body {
	font-family: "Roboto", sans-serif;
}

.heading-7,
.heading-5,
.heading-3 {
	font-weight: var(--font-weight-bold);
}

.heading-7 {
	font-size: 2.875rem;
}
.heading-5 {
	font-size: 2.25rem;
}
.heading-3 {
	font-size: 1.375rem;
}

.btn {
	background-color: var(--base-white);
	color: white;
	padding: 8px 10px;
	border-radius: 6px;
	border: 1px solid var(--gray-300);
	cursor: pointer;
}

.btn:hover {
	background-color: var(--gray-700);
	color: var(--base-white);
	cursor: pointer;
}

.btn--contactar {
	color: var(--gray-700);
}

.btn--primary {
	background-color: var(--blue--500);
	color: var(--base-white);
	border-color: var(--blue--800);
	display: flex;
	justify-content: center;
	align-items: center;

}

.btn--primary:hover {
	background-color: var(--blue--800);
}

.btn--oferta {
	background-color: var(--red-600);
	padding: 4px 8px;
	border: 1px solid rgb(186, 6, 6);
}

.btn--oferta:hover {
	background-color: #8b0000;
}

.btn--cargador {
	padding: 4px 8px;
	background-color: var(--blue--500);
	color: var(--base-white);
	border-color: var(--blue--800);

}
.btn--cargador:hover {
	background-color: var(--blue--800);
}

a {
	text-decoration: none;
	color: black;
}

/*Centra nuestro contenido*/
.wrapper {
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

/*linea horizontal*/
.the-header {
	border-bottom: 1px solid var(--gray-300);
	padding: 8px 0;
}
.the-footer {
	border-top: 1px solid var(--gray-300);
	padding: 8px 0;
}


/*ENCABEZADOS*/

/*Título principal*/
h1 {
	margin: 5px 0;
}

/*Títulos en accesorios*/
h4 {
	font-size: 1.2rem;
	margin: 15px 0px;
}

/*HEADER*/
.the-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.the-header__nav {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 20px;
}


/*MAIN*/

/*Primer Parte*/

.the-product {
	margin-top: 32px;
}

main {
	padding-bottom: 30px;
}

.the-product-info__img {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	margin-top: 25px;
}

.the-product-w__img {
	position: relative;
}

.the-product__img {
	width: 350px;
	height: 400px;
}

.the-product__gb {
	position: absolute;
	color: var(--base-white);
	background-color: var(--green-500); 
	padding: 8px 7px;
	top: 20px;
	left: 20px;
	border: 1px solid var(--base-white);
}

.the-product-main__info {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.text-ofert {
	color: var(--red-600);
	font-weight: var(--font-weight-bold);
	margin: 0;
	text-transform: uppercase;
}

.the-product__description {
	text-align: justify;
}

.the-product-w__buy {
	display: flex;
	gap: 20px;
	
}


.the-product__feautures {
	display: flex;
	margin-top: 10px;
	font-size: 0.9rem;
	gap: 5px;
}

.item {
	display: flex;
}

.icon {
	margin-right: 10px;
}

/*Segunda Parte*/
.the-product__accesorios {
	display: flex;
	font-size: 1rem;
	gap: 20px;
	margin-bottom: 40px;
	width: 100%;
}

.card {
	border-radius: 4px;
	border: 1px solid #aeaeae;
	padding: 10px 10px 7px 10px;
	width: 100%;
}

.card img {
	width: 100%;
	height: 150px;
}


.card-body p {
	margin-top: 25px;
}

/*Tercera Parte*/
.main-form {
	background-color: #e0e4ec;
	border-radius: 5px;
	display: flex;
}

.text-participa {
	padding: 20px 40px;
	max-width: 60%;
}

.text-participa p {
	font-size: 0.9rem;
}

form {
	padding: 50px;
}

input {
	width: 270px;
	margin-left: 2px;
	padding: 8px;
	border: 1px solid gray;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/*FOOTER*/

.footer {
	display: flex;
	justify-content: center;
	padding: 8px 0;
	font-weight: bolder;
	font-size: 0.8rem;
}

/*RESPONSIVE MOBILE*/

@media only screen and (max-width: 780px) {
	
    h1 {
		font-size: 2.1rem;
	}

    h2 {
		font-size: 2.8rem;
		margin-bottom: 0;
		margin-top: 20px;
	}
    

    /*HEADER*/
	.the-header__inner {
		flex-direction: column;
	}

	.nav-logo {
		font-size: 1.5rem;
		margin: 20px;
		width: 80%;
	}

    /*Ocultar elemento y Eliminar espacio que ocupa*/

	.the-header__nav {
		display: none;
	}

	/*MAIN*/

    /*Primer Parte*/
	.the-product-info__img, h3 {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: auto;
	}

	.the-product-w__img {
		margin: auto;
		width: 100%;
	}
	.the-product__img {
		width: 100%;
	}

	.the-product__description {
		margin-bottom: 10px;
	}

	.the-product__feautures {
		display: flex;
		flex-wrap: wrap;
		font-size: 1rem;
		gap: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.item {
		max-width: 45%;
	}

    /*Segunda Parte*/
	.acc {
		margin-bottom: 20px;
		
	}

	.the-product__accesorios  {
		flex-direction: column;
		width: 100%;
	}
	
	.card {
		max-width: 80%;
		margin: auto;
	}

	
	.card img {
		width: 100%;
		height: 150px;
	}

	.card-body p {
		font-size: 1rem;
		
	}

	.carga-inalambrica {
		max-width: 40%;
	}

    /*Tercera Parte*/
	.main-form {
		flex-direction: column;
		padding: 20px;
		padding-top: 0;
		width: 80%;
		margin: auto;
		margin-top: 20px;
	}

	.text-participa {
		padding: 0;
		max-width: 100%;
	}

	.text-participa p {
		font-size: 1.12rem;
	}

	form {
		margin-top: 10px;
		padding: 0;
	}

	input {
		width: 95%;
	}
	
}
